@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: #00A650;
  color: #fff;
  font-weight: 500;
  border: none;
  margin-top: 80px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.modal-content {
  width: 100%;
  height: 100%;
  display: none;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}
.modal-content .inn {
  background-color: #fff;
  height: 100%;
  float: right;
  width: 100%;
  padding: 20px 0px;
}
.modal-content .cancel {
  height: 30px;
  width: 100%;
  padding: 10px 30px 30px 0;
}
.modal-content .cancel .fa-times {
  font-size: 20px;
  float: right;
}
.modal-content ul {
  margin: auto;
  padding: 0;
}
.modal-content ul li {
  list-style: none;
  padding: 15px 30px;
  color: #444444;
  text-align: center;
}
.modal-content ul li a {
  color: #00A650;
}

header {
  height: 60px;
  padding-top: 10px;
  width: 100%;
}
header .container {
  display: flex;
}
header .container .logo img {
  width: 100px;
  height: 100px;
  margin-top: -20px;
  margin-left: -10px;
}
header .container ul {
  margin-left: auto;
  display: inline-flex;
  list-style-type: none;
  margin-top: 15px;
}
header .container ul li {
  margin-left: 25px;
  color: #00A650;
  font-size: 14px;
  font-weight: 500;
}
header .container ul li a {
  color: #00A650;
}
header .container i {
  float: right !important;
  display: none !important;
  margin-left: auto;
  margin-top: 20px;
}
@media only screen and (max-width: 320px) {
  header .container ul {
    display: none;
  }
  header .container i {
    display: block !important;
  }
}
@media only screen and (min-width: 321px) and (max-width: 540px) {
  header .container {
    padding: 0 25px 0 20px;
  }
  header .container ul {
    display: none;
  }
  header .container i {
    display: block !important;
  }
}
@media only screen and (min-width: 541px) and (max-width: 720px) {
  header .container {
    padding: 0 50px 0 45px;
  }
  header .container ul {
    display: none;
  }
  header .container i {
    display: block !important;
  }
}

.top-section {
  margin-top: 100px;
}
.top-section .row .col-md-6 .text-caption {
  margin-top: 60px;
}
.top-section .row .col-md-6 .text-caption h1 {
  font-weight: 700;
}
.top-section .row .col-md-6 .banner-image {
  width: 100%;
  height: 450px;
  background-image: url(images/banner.png);
  background-size: cover;
}
@media only screen and (max-width: 320px) {
  .top-section {
    margin-top: 40px;
  }
  .top-section .row .col-md-6 .text-caption {
    margin-top: 20px;
  }
  .top-section .row .col-md-6 .text-caption h1 {
    font-size: 25px;
  }
  .top-section .row .col-md-6 .text-caption button {
    margin-top: 20px;
  }
  .top-section .row .col-md-6 .banner-image {
    display: none;
  }
}
@media only screen and (min-width: 321px) and (max-width: 540px) {
  .top-section {
    margin-top: 40px;
  }
  .top-section .row .col-md-6 {
    padding: 0 30px;
  }
  .top-section .row .col-md-6 .text-caption {
    margin-top: 20px;
  }
  .top-section .row .col-md-6 .text-caption h1 {
    font-size: 28px;
  }
  .top-section .row .col-md-6 .text-caption button {
    margin-top: 30px;
  }
  .top-section .row .col-md-6 .banner-image {
    display: none;
  }
}
@media only screen and (min-width: 541px) and (max-width: 720px) {
  .top-section {
    margin-top: 40px;
  }
  .top-section .row .col-md-6 {
    padding: 0 50px;
  }
  .top-section .row .col-md-6 .text-caption {
    margin-top: 20px;
  }
  .top-section .row .col-md-6 .text-caption h1 {
    font-size: 32px;
  }
  .top-section .row .col-md-6 .text-caption button {
    margin-top: 30px;
  }
  .top-section .row .col-md-6 .banner-image {
    display: none;
  }
}

.benefit {
  margin-top: 70px;
}
.benefit .row .col-md-4 .benefit-content {
  background-color: rgba(0, 166, 80, 0.08);
  padding: 60px 20px 50px 20px;
  border-radius: 30px;
  width: 90%;
  height: 400px;
}
.benefit .row .col-md-4 .benefit-content h3 {
  color: #7F6E5D;
  font-size: 25px;
  margin-top: 20px;
  font-weight: 600;
}
.benefit .row .col-md-4 .benefit-content p {
  color: #736060;
}
@media only screen and (max-width: 320px) {
  .benefit .row .col-md-4 {
    margin-bottom: 20px;
  }
  .benefit .row .col-md-4 .benefit-content {
    width: 100% !important;
  }
}
@media only screen and (min-width: 321px) and (max-width: 540px) {
  .benefit .row .col-md-4 {
    padding: 0 30px;
    margin-bottom: 20px;
  }
  .benefit .row .col-md-4 .benefit-content {
    width: 100% !important;
  }
}
@media only screen and (min-width: 541px) and (max-width: 720px) {
  .benefit .row .col-md-4 {
    padding: 0 50px;
    margin-bottom: 20px;
  }
  .benefit .row .col-md-4 .benefit-content {
    width: 100% !important;
  }
}

.desktop-service .services, .mobile-service .services {
  margin-top: 100px;
}
.desktop-service .services h1, .mobile-service .services h1 {
  text-align: center;
  margin-bottom: 50px;
}
.desktop-service .services .row, .mobile-service .services .row {
  margin-bottom: 50px;
}
.desktop-service .services .row .col-md-6 .service-content, .mobile-service .services .row .col-md-6 .service-content {
  width: 80%;
  float: right;
  margin-top: 30px;
}
.desktop-service .services .row .col-md-6 .service-content h6, .mobile-service .services .row .col-md-6 .service-content h6 {
  font-size: 13px;
  color: #00A650;
  margin-bottom: 20px;
  font-weight: 600;
}
.desktop-service .services .row .col-md-6 .service-content h2, .mobile-service .services .row .col-md-6 .service-content h2 {
  font-weight: 700;
  font-size: 35px;
}
.desktop-service .services .row .col-md-6 .service-content p, .mobile-service .services .row .col-md-6 .service-content p {
  color: #736060;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  margin-top: 10px;
}
.desktop-service .services .row .col-md-6 .service-content button, .mobile-service .services .row .col-md-6 .service-content button {
  margin-top: 50px;
}
.desktop-service .services .second .col-md-6 .service-content, .mobile-service .services .second .col-md-6 .service-content {
  float: left !important;
}
.desktop-service .middle-service, .mobile-service .middle-service {
  background-color: rgba(128, 128, 128, 0.03);
  padding: 60px 0;
}
@media only screen and (max-width: 320px) {
  .desktop-service, .mobile-service {
    display: none;
  }
  .desktop-service .services, .mobile-service .services {
    margin-top: 50px;
  }
  .desktop-service .services h1, .mobile-service .services h1 {
    margin-bottom: 20px;
  }
  .desktop-service .row, .mobile-service .row {
    margin-bottom: 10px !important;
  }
  .desktop-service .row .col-md-6, .mobile-service .row .col-md-6 {
    margin-bottom: 30px;
  }
  .desktop-service .row .col-md-6 .service-content, .mobile-service .row .col-md-6 .service-content {
    width: 100% !important;
  }
  .desktop-service .row .col-md-6 .service-content h6, .mobile-service .row .col-md-6 .service-content h6 {
    font-size: 12px;
    margin-bottom: 10px !important;
  }
  .desktop-service .row .col-md-6 .service-content h2, .mobile-service .row .col-md-6 .service-content h2 {
    font-size: 28px;
  }
  .desktop-service .row .col-md-6 .service-content p, .mobile-service .row .col-md-6 .service-content p {
    font-size: 14px;
  }
  .desktop-service .row .col-md-6 .service-content button, .mobile-service .row .col-md-6 .service-content button {
    margin-top: 20px !important;
  }
  .desktop-service .middle-service, .mobile-service .middle-service {
    padding: 20px 0;
  }
}
@media only screen and (min-width: 321px) and (max-width: 540px) {
  .desktop-service, .mobile-service {
    display: none;
  }
  .desktop-service .services, .mobile-service .services {
    margin-top: 50px;
  }
  .desktop-service .services h1, .mobile-service .services h1 {
    margin-bottom: 20px;
  }
  .desktop-service .row, .mobile-service .row {
    margin-bottom: 10px !important;
  }
  .desktop-service .row .col-md-6, .mobile-service .row .col-md-6 {
    margin-bottom: 30px;
    padding: 0 30px;
  }
  .desktop-service .row .col-md-6 .service-content, .mobile-service .row .col-md-6 .service-content {
    width: 100% !important;
  }
  .desktop-service .row .col-md-6 .service-content h6, .mobile-service .row .col-md-6 .service-content h6 {
    font-size: 12px;
    margin-bottom: 10px !important;
  }
  .desktop-service .row .col-md-6 .service-content h2, .mobile-service .row .col-md-6 .service-content h2 {
    font-size: 28px;
  }
  .desktop-service .row .col-md-6 .service-content p, .mobile-service .row .col-md-6 .service-content p {
    font-size: 13px;
  }
  .desktop-service .row .col-md-6 .service-content button, .mobile-service .row .col-md-6 .service-content button {
    margin-top: 20px !important;
  }
  .desktop-service .middle-service, .mobile-service .middle-service {
    padding: 20px 0;
  }
}
@media only screen and (min-width: 541px) and (max-width: 720px) {
  .desktop-service, .mobile-service {
    display: none;
  }
  .desktop-service .services, .mobile-service .services {
    margin-top: 50px;
  }
  .desktop-service .services h1, .mobile-service .services h1 {
    margin-bottom: 20px;
  }
  .desktop-service .row, .mobile-service .row {
    margin-bottom: 10px !important;
  }
  .desktop-service .row .col-md-6, .mobile-service .row .col-md-6 {
    margin-bottom: 30px;
    padding: 0 50px;
  }
  .desktop-service .row .col-md-6 .service-content, .mobile-service .row .col-md-6 .service-content {
    width: 100% !important;
  }
  .desktop-service .row .col-md-6 .service-content h6, .mobile-service .row .col-md-6 .service-content h6 {
    font-size: 12px;
    margin-bottom: 10px !important;
  }
  .desktop-service .row .col-md-6 .service-content h2, .mobile-service .row .col-md-6 .service-content h2 {
    font-size: 30px;
  }
  .desktop-service .row .col-md-6 .service-content p, .mobile-service .row .col-md-6 .service-content p {
    font-size: 15px;
  }
  .desktop-service .row .col-md-6 .service-content button, .mobile-service .row .col-md-6 .service-content button {
    margin-top: 20px !important;
  }
  .desktop-service .middle-service, .mobile-service .middle-service {
    padding: 20px 0;
  }
}

.mobile-service {
  display: none;
}
@media only screen and (max-width: 320px) {
  .mobile-service {
    display: block;
  }
}
@media only screen and (min-width: 321px) and (max-width: 540px) {
  .mobile-service {
    display: block;
  }
}
@media only screen and (min-width: 541px) and (max-width: 720px) {
  .mobile-service {
    display: block;
  }
}

.see-more {
  text-align: center;
}
.see-more button {
  background-color: rgba(0, 166, 80, 0.08);
  color: #00A650;
  transition: 0.2s ease-in-out;
  height: 40px;
  box-shadow: none;
}
.see-more button:hover {
  background-color: #00A650;
  color: #fff;
}

.how-it-works {
  background-color: rgba(128, 128, 128, 0.02);
  padding: 50px 0 60px 0;
  margin: 40px 0;
}
.how-it-works h1 {
  text-align: center;
  margin-bottom: 30px;
}
.how-it-works .row .col-md-3 .work {
  width: 100%;
  height: 250px;
  padding: 40px;
  background-color: #fff;
  border-radius: 70px 0 70px 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.how-it-works .row .col-md-3 .work h2 {
  font-size: 20px;
  font-weight: 600;
  color: #00A650;
}
.how-it-works .row .col-md-3 .work p {
  font-size: 15px;
  text-align: justify;
  color: #7F6E5D;
}
@media only screen and (max-width: 320px) {
  .how-it-works .row .col-md-3 {
    margin-bottom: 30px;
  }
  .how-it-works .row .col-md-3 .work {
    border-radius: 30px 0 30px 0;
    padding: 40px 20px;
    text-align: left;
    height: 200px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 540px) {
  .how-it-works .row .col-md-3 {
    margin-bottom: 30px;
    padding: 0 30px;
  }
  .how-it-works .row .col-md-3 .work {
    text-align: left;
    height: 200px;
  }
}
@media only screen and (min-width: 541px) and (max-width: 720px) {
  .how-it-works .row .col-md-3 {
    margin-bottom: 30px;
    padding: 0 50px;
  }
  .how-it-works .row .col-md-3 .work {
    text-align: left;
    height: 200px;
  }
}

.confirmation .word-confirm {
  width: 70%;
  height: 250px;
  margin: 50px auto;
  background-color: rgba(0, 166, 80, 0.08);
  border-radius: 150px 0 150px 40px;
  text-align: center;
  padding: 50px;
}
.confirmation .word-confirm h2 {
  font-size: 30px;
}
.confirmation .word-confirm button {
  margin-top: 30px;
}
@media only screen and (max-width: 320px) {
  .confirmation .word-confirm {
    width: 90%;
    border-radius: 100px 0 100px 20px;
    padding: 50px 20px;
  }
  .confirmation .word-confirm h2 {
    font-size: 20px;
  }
  .confirmation .word-confirm button {
    margin-top: 20px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 540px) {
  .confirmation .word-confirm {
    width: 90%;
    border-radius: 100px 0 100px 20px;
    padding: 50px 30px;
  }
  .confirmation .word-confirm h2 {
    font-size: 20px;
  }
}
@media only screen and (min-width: 541px) and (max-width: 720px) {
  .confirmation .word-confirm {
    width: 80%;
    border-radius: 100px 0 100px 20px;
    padding: 50px 30px;
  }
  .confirmation .word-confirm h2 {
    font-size: 20px;
  }
}

footer {
  width: 100%;
  height: auto;
  padding: 40px 0;
  background-color: rgba(128, 128, 128, 0.02);
}
footer .container .row .col-md-7 img {
  width: 100px;
  height: 100px;
  margin: -20px 0 -20px -10px;
}
footer .container .row .col-md-7 p {
  width: 65%;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
footer .container .row .col-md-7 a > img {
  height: 30px;
  width: 30px;
  margin: 0;
}
footer .container .row .col-md-2 h6, footer .container .row .col-md-3 h6 {
  color: #00A650;
  margin-bottom: 20px;
  font-weight: 600;
}
footer .container .row .col-md-2 ul, footer .container .row .col-md-3 ul {
  padding-left: 0px;
}
footer .container .row .col-md-2 ul li, footer .container .row .col-md-3 ul li {
  font-size: 14px;
  list-style-type: none;
  padding-bottom: 10px;
  font-weight: 500;
}
footer .container .row .col-md-2 ul li a, footer .container .row .col-md-3 ul li a {
  color: rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 320px) {
  footer .container .row .col-md-7 {
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  footer .container .row .col-md-7 p {
    width: 100%;
  }
  footer .container .row .col-md-3, footer .container .row .col-md-2 {
    padding-top: 15px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 540px) {
  footer .container {
    padding: 0 30px;
  }
  footer .container .row .col-md-7 {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  footer .container .row .col-md-7 p {
    width: 100%;
  }
  footer .container .row .col-md-3, footer .container .row .col-md-2 {
    padding-top: 15px;
  }
}
@media only screen and (min-width: 541px) and (max-width: 720px) {
  footer .container {
    padding: 0 50px;
  }
  footer .container .row .col-md-7 {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  footer .container .row .col-md-7 p {
    width: 100%;
  }
  footer .container .row .col-md-3, footer .container .row .col-md-2 {
    padding-top: 15px;
  }
}

.post-footer {
  width: 100%;
  height: auto;
  background-color: #00A650;
  color: #fff;
  padding: 15px 0;
  font-size: 13px;
}
.post-footer p {
  margin-bottom: 0;
}

.our-story {
  margin-top: 80px;
}
.our-story .story {
  width: 70%;
  margin: auto;
}
.our-story .story h1 {
  font-weight: 700;
}
.our-story .story p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}
@media only screen and (max-width: 320px) {
  .our-story {
    margin-top: 50px;
  }
  .our-story .story {
    width: 80%;
  }
  .our-story .story h1 {
    font-size: 34px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 540px) {
  .our-story {
    margin-top: 50px;
  }
  .our-story .story {
    width: 80%;
  }
  .our-story .story h1 {
    font-size: 36px;
  }
}
@media only screen and (min-width: 541px) and (max-width: 720px) {
  .our-story {
    margin-top: 60px;
  }
}

.team-picture {
  margin-top: 90px;
}
@media only screen and (max-width: 320px) {
  .team-picture {
    margin-top: 60px;
  }
  .team-picture .row .col-md-7 {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 540px) {
  .team-picture {
    margin-top: 60px;
  }
  .team-picture .row .col-md-7, .team-picture .row .col-md-5 {
    padding: 0 30px;
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 541px) and (max-width: 720px) {
  .team-picture {
    margin-top: 60px;
  }
  .team-picture .row .col-md-7, .team-picture .row .col-md-5 {
    padding: 0 50px;
    margin-bottom: 30px;
  }
}

.mission {
  margin-top: 100px;
}
.mission .row p, .mission .row li {
  color: rgba(0, 0, 0, 0.5);
}
.mission .row .col-md-8 .text-mission {
  width: 75%;
  margin-bottom: 40px;
}
.mission .row .col-md-8 .text-mission h2 {
  font-size: 27px;
  font-weight: 600;
}
.mission .row .col-md-4 .gain h3 {
  margin-bottom: 15px;
  font-weight: 600;
}
.mission .row .col-md-4 .gain li {
  margin-bottom: 15px;
  list-style-type: lower-alpha;
}
@media only screen and (max-width: 320px) {
  .mission {
    margin-top: 50px;
  }
  .mission .row .col-md-8, .mission .row .col-md-4 {
    padding: 0 30px;
  }
  .mission .row .col-md-8 .text-mission, .mission .row .col-md-4 .text-mission {
    width: 100%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 540px) {
  .mission {
    margin-top: 50px;
  }
  .mission .row .col-md-8, .mission .row .col-md-4 {
    padding: 0 30px;
  }
  .mission .row .col-md-8 .text-mission, .mission .row .col-md-4 .text-mission {
    width: 100%;
  }
}
@media only screen and (min-width: 541px) and (max-width: 720px) {
  .mission {
    margin-top: 50px;
  }
  .mission .row .col-md-8, .mission .row .col-md-4 {
    padding: 0 50px;
  }
  .mission .row .col-md-8 .text-mission, .mission .row .col-md-4 .text-mission {
    width: 100%;
  }
}

.contact-us {
  margin-top: 50px;
  margin-bottom: 50px;
}
.contact-us .row .col-md-6 img {
  margin-top: 40px;
}
.contact-us .row .col-md-6 h2 {
  font-size: 30px;
  margin-bottom: 30px;
}
.contact-us .row .col-md-6 form {
  width: 90%;
}
.contact-us .row .col-md-6 form button {
  height: 45px;
  margin-top: 20px;
}
.contact-us .row .col-md-6 form .form-group label {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-weight: 500;
}
.contact-us .row .col-md-6 form .form-group label span {
  color: #AA0000;
}
.contact-us .row .col-md-6 form .form-group input, .contact-us .row .col-md-6 form .form-group textarea, .contact-us .row .col-md-6 form .form-group select {
  border: none;
  background-color: rgba(70, 67, 83, 0.05);
  border-radius: 6px;
}
.contact-us .row .col-md-6 form .form-group select {
  height: 38px;
  width: 100%;
  padding-left: 15px;
}
.contact-us .row .col-md-6 form .form-group textarea {
  width: 100%;
  height: 200px;
}
@media only screen and (max-width: 320px) {
  .contact-us .row .col-md-6 img {
    display: none;
  }
  .contact-us .row .col-md-6 form {
    width: 100%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 540px) {
  .contact-us .row .col-md-6 {
    padding: 0 30px;
  }
  .contact-us .row .col-md-6 img {
    display: none;
  }
  .contact-us .row .col-md-6 form {
    width: 100%;
  }
}
@media only screen and (min-width: 541px) and (max-width: 720px) {
  .contact-us .row .col-md-6 {
    padding: 0 50px;
  }
  .contact-us .row .col-md-6 img {
    display: none;
  }
  .contact-us .row .col-md-6 form {
    width: 100%;
  }
}

.desktop-view-service .service-category, .mobile-view-service .service-category {
  margin-top: 70px;
}
.desktop-view-service .service-category .row .col-md-7, .mobile-view-service .service-category .row .col-md-7 {
  background-color: rgba(70, 67, 83, 0.03);
  padding: 100px;
  height: 700px;
  border-radius: 0 100px 0 0;
}
.desktop-view-service .service-category .row .col-md-7 .text h1, .mobile-view-service .service-category .row .col-md-7 .text h1 {
  font-weight: 700;
  margin-bottom: 10px;
}
.desktop-view-service .service-category .row .col-md-7 .text li, .mobile-view-service .service-category .row .col-md-7 .text li {
  list-style: none;
  padding-bottom: 15px;
  color: rgba(0, 0, 0, 0.6);
}
.desktop-view-service .service-category .row .col-md-7 .text button, .mobile-view-service .service-category .row .col-md-7 .text button {
  margin-top: 30px;
}
.desktop-view-service .service-category .row .col-md-5 img, .mobile-view-service .service-category .row .col-md-5 img {
  margin-top: 50px;
}
.desktop-view-service .second-service, .mobile-view-service .second-service {
  margin-top: 10px;
}
.desktop-view-service .second-service .row .col-md-7, .mobile-view-service .second-service .row .col-md-7 {
  background-color: #fff;
}
.desktop-view-service .second-service .row .col-md-5 img, .mobile-view-service .second-service .row .col-md-5 img {
  margin-top: 20px;
}
@media only screen and (max-width: 320px) {
  .desktop-view-service, .mobile-view-service {
    display: none;
  }
  .desktop-view-service .service-category .row .col-md-7, .mobile-view-service .service-category .row .col-md-7 {
    padding: 50px 15px;
    height: auto;
  }
  .desktop-view-service .service-category .row .col-md-7 .text h1, .mobile-view-service .service-category .row .col-md-7 .text h1 {
    font-size: 25px;
  }
  .desktop-view-service .service-category .row .col-md-7 .text p, .mobile-view-service .service-category .row .col-md-7 .text p {
    font-size: 14px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 540px) {
  .desktop-view-service, .mobile-view-service {
    display: none;
  }
  .desktop-view-service .service-category .row .col-md-7, .mobile-view-service .service-category .row .col-md-7 {
    padding: 50px 30px;
    height: auto;
  }
  .desktop-view-service .service-category .row .col-md-7 .text h1, .mobile-view-service .service-category .row .col-md-7 .text h1 {
    font-size: 30px;
  }
  .desktop-view-service .service-category .row .col-md-7 .text p, .mobile-view-service .service-category .row .col-md-7 .text p {
    font-size: 14px;
  }
}
@media only screen and (min-width: 541px) and (max-width: 720px) {
  .desktop-view-service, .mobile-view-service {
    display: none;
  }
  .desktop-view-service .service-category .row .col-md-7, .mobile-view-service .service-category .row .col-md-7 {
    padding: 50px;
    height: auto;
  }
  .desktop-view-service .service-category .row .col-md-7 .text h1, .mobile-view-service .service-category .row .col-md-7 .text h1 {
    font-size: 35px;
  }
  .desktop-view-service .service-category .row .col-md-7 .text p, .mobile-view-service .service-category .row .col-md-7 .text p {
    font-size: 15px;
  }
}

.mobile-view-service {
  display: none;
}
@media only screen and (max-width: 320px) {
  .mobile-view-service {
    display: block;
  }
}
@media only screen and (min-width: 321px) and (max-width: 540px) {
  .mobile-view-service {
    display: block;
  }
}
@media only screen and (min-width: 541px) and (max-width: 720px) {
  .mobile-view-service {
    display: block;
  }
}

.privacy {
  margin-top: 50px;
}
.privacy .row {
  margin-bottom: 30px;
}
.privacy .row h1 {
  color: #000;
  font-weight: 600;
  margin-bottom: 14px;
}
.privacy .row h3 {
  font-size: 25px;
  color: #736060;
}
.privacy .row p a {
  color: #00A650;
  font-weight: 500;
}
.privacy .row li {
  margin-bottom: 15px;
}
@media only screen and (max-width: 320px) {
  .privacy .row {
    padding: 0 15px;
  }
  .privacy .row h3 {
    font-size: 20px;
  }
  .privacy .row p {
    font-size: 13px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 540px) {
  .privacy .row {
    padding: 0 30px;
  }
  .privacy .row h3 {
    font-size: 20px;
  }
  .privacy .row p {
    font-size: 13px;
  }
}
@media only screen and (min-width: 541px) and (max-width: 720px) {
  .privacy .row {
    padding: 0 50px;
  }
  .privacy .row h3 {
    font-size: 20px;
  }
  .privacy .row p {
    font-size: 13px;
  }
}

/*# sourceMappingURL=style.css.map */
